<div class="container admin-home">
    <div class="nav-admin row">
        <ul>
            <li><a ui-sref="admin.profile">{{vm.user.name}}</a></li>
            <li><a ui-sref="user.posts">Homepage</a></li>
            <li><a ng-click="vm.logout()">Logout</a></li>
        </ul>
    </div>
    <div class="row">
        <p>Posts</p>
    </div>
    <div class="row">
        <input type="text" ng-model="vm.srch" placeholder="Search" class="col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-4" />
    </div>
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Created Date</th>
                <th></th>
                <th><a ng-click="vm.open('Create')"><i class="fa fa-plus" aria-hidden="true"></i></a></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="post in vm.posts | filter: vm.srch">
                <td>{{ post.title }} </td>
                <td> {{ post.user.name }} </td>
                <td> {{ post.created_at | dateFormat | date: "short" }}</td>
                <td><a ng-click="vm.open('Edit', post)"><i class="fa fa-pencil" aria-hidden="true"></i></a></td>
                <td><a ng-click="vm.open('Delete', post)"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
            </tr>
        </tbody>
    </table>
</div>