<div class="container" id="login-container">
    <div class="row">
        <div class="col-sm-offset-3 col-sm-6">
            <a ui-sref="user" ><img ng-src="img/monkey.jpg" class="img-responsive center-block" id="logo-login"/></a>
            <form id="loginForm" name="loginForm" ng-submit="vm.login(loginForm.$valid)" novalidate>
                <div class="form-group">
                    <label class="sr-only">Email</label>
                    <input type="email" id="txtEmail" ng-model="vm.email" class="form-control" placeholder="Email" required />
                </div>
                <div class="form-group">
                    <label class="sr-only">Password</label>
                    <input type="password" id="txtPassword" ng-model="vm.password" class="form-control" placeholder="Password" required />
                </div>
                <span class="error">{{vm.message}}</span>
                <div class="form-group">
                    <button type="submit" class="btn submit">Sign In</button>
                </div>
            </form>
        </div>
    </div>
</div>