<header class="clearfix">
	<a ui-sref="auth">Login</a>
	<div class="logo">
		<img ng-src="img/logo.png" />
		<h1>DIGS</h1>
		<h2>Purveyors of Wholesome Thug Shit and Progressive Ignorance</h2>
	</div>
	<nav>
		<ul class="primary-nav">
			<li><a ui-sref="user.posts">posts</a></li>
			<li><a ui-sref="user.about">about</a></li>
			<li><a ui-sref="user.contact">contact</a></li>
		</ul>
		<button class="nav-button">Toggle Navigation</button>
	</nav>
</header>

<main ui-view></main>
<footer>

</footer>