<div class="container">
    <div class="row search">
        <input type="text" ng-model="vm.srch" placeholder="Search" class="col-xs-6 col-xs-offset-3" />
        <i class="fa fa-times input-clear" aria-hidden="true" ng-click="vm.clearSrch()" />
    </div>
    <div class="row">
        <div ng-repeat="post in vm.posts | filter: vm.srch" class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3> {{ post.title }} </h3>
                    <h4> {{ post.user.name }} </h4>
                </div>
                <div class="panel-body">
                    <p> {{ post.text | limitTo: 50 }} {{ post.text.length > 50 ? '...' : ''}} </p>
                    {{post.url}}
                    {{post.embedURL}}
                    <!--<iframe width="100%" ng-src="{{ post.url | trustAsResourceUrl }}"></iframe>-->
                </div>
            </div>
        </div>
    </div>
</div>