<div class="container">
    <div class="row search">
        <input type="text" ng-model="vm.srch" placeholder="Search" class="col-xs-6 col-xs-offset-3" />
    </div>
    <div class="row">
        <div ng-repeat="post in vm.posts | filter: vm.srch | limitTo: vm.limit" class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3> {{ post.title }} </h3>
                    <h4> {{ post.user.name }} </h4>
                </div>
                <div class="panel-body">
                    <p> {{ post.text }} </p>
                    <iframe width="100%" ng-src="{{ post.embedURL | trustAsResourceUrl }}" ></iframe>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <span class="col-xs-4 col-xs-offset-4" style="text-align: center;" ng-click="vm.loadMore()">LOAD MORE</span>
    </div>
</div>