/* WRAPPER */
header, nav, main, footer {
    max-width: 968px;
    margin: 0 auto;
}

/* HEADER */
header {
    position: relative; //for content to be displayed absolute
    padding-top: 2em;
    padding-bottom: 1em;
}

/* NAV */
