/* WRAPPER */
header, nav, main, footer {
    max-width: 968px;
    margin: 0 auto;
}

/* HEADER */
header {
    position: relative; //for content to be displayed absolute
    padding-top: 2em;
    padding-bottom: 1em;
}

/* NAV */
nav {
    position: relative;
    background-color: transparent;
    clear: right;
    padding-top: .6em;

    ul {
        float: right;
        width: auto;
    }

    /*main menu items float side by side*/
	ul li {
		float: left;
	}

    ul li a {
        display: block;
        color: $menu_colour;
        border-top: solid 2px rgba(0,0,0,0.1);
        font-size: 1.1em;
        padding: .7em .9em;

        transition: background 0.3s linear;
    }

    ul li a:hover {background-color: rgba(0,0,0,0.1)}
    ul li.active a {border-top: solid 3px $menu_colour;}
}