//phone: 400px
//phone-wide: 480px
//phablet: 560px
//tablet-small: 640px
//tablet: 768px
//tablet-wide: 1024px
// desktop: 1248px
// desktop-wide: 1440px
// px/16 = em

/*-----Prevents iPhone from resizing in landscape mode -----*/
html {-webkit-text-size-adjust: none; }

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
    font-size: 16px;
    font-family: $default_font_family;
}

/* HEADER */
header {
    
    padding: 1em $gutter .5em $gutter;

    h1, h2 {
        display: none;
    }

    .logo {
        font-family: $logo_font_family;
        float: left;
    }

    .logo img {
        width: 150px;
    }
}

/* NAV */
nav {
    position: absolute;
    top: 0;
    left: 0;
    background-color: $menu_colour;
    height: 44px;
    width: 100%;

    ul li a{
        visibility: hidden;
        color: $menu_text;
        text-decoration: none;
        text-transform: lowercase;
        
    }
}


/* MISC */
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}