//phone: 400px
//phone-wide: 480px
//phablet: 560px
//tablet-small: 640px
//tablet: 768px
//tablet-wide: 1024px
// desktop: 1248px
// desktop-wide: 1440px
// px/16 = em

/*-----Prevents iPhone from resizing in landscape mode -----*/
html {-webkit-text-size-adjust: none; }


* { 
    //apply a natural box layout model to all elements 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
    ::selection {
        background: $theme-primary; /* WebKit/Blink Browsers */
    }
    ::-moz-selection {
    background: $theme-primary; /* Gecko Browsers */
    }
}

body {
    font-size: 100%;
    font-family: $default_font_family;
    background-color: $bg-color;
    color: $text-color;
}


input {
    color: black;
}

a {
    color: $text-color;
    &:focus, &:hover { color: $theme-primary; }
}

@mixin noselect {
    -webkit-touch-callout: none; 
    -webkit-user-select: none;   
    -khtml-user-select: none;    
    -moz-user-select: none;      
    -ms-user-select: none;       
    user-select: none;
    
    ::selection {
        background: $theme-primary; /* WebKit/Blink Browsers */
    }
    ::-moz-selection {
    background: $theme-primary; /* Gecko Browsers */
    }
}

/* clearfix */
.clearfix-row{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

/* HEADER */
header {
    &:before {
        background-image: url('../img/cork.png');
        background-size: cover;
        width: 100%;
        min-height: 250px;
        opacity: 0.6;
        z-index: -1;
        content: ' ';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
    }
    
    .main-header {
        @include noselect;
        margin-top: 0;
        height: 225px;
        display: flex;
        justify-content: center;
        align-items: center;

        

        img {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: inherit;
            opacity: 0.4;
        }
    }

    .logo {
        
        //font-family: $logo_font_family;
        font-family: tag-type;
        font-weight: $heavy;
        //-webkit-text-stroke: 1px black;
        text-shadow: 1px 1px black;
        
        z-index: 5;
        // float: left;
        
        
            vertical-align: middle;
        h1, h2 {
            display: block;
            padding: 10px;
            text-align: center;
            color: lighten($text-color, 50%);
        }
        h1 {
            margin: 0 auto;
            font-size: 65px;
        }

        h2 {
            font-size: 35px;
        }
    }
}
@font-face {
    font-family: tag-type;
    src: url(../fonts/tagtype-freefont.ttf);
}
@font-face {
    font-family: MARSNEVENEKSK;
    src: url(../fonts/MARSNEVENEKSK.otf);
}
/* NAV */
.navbar-default {
    @include noselect;
    background-color: transparent;
    border: none;
    margin-bottom: 0;
    z-index: 2;
    .navbar-brand {
        color: $text-color;
        &:hover, &:focus {
                color: $theme-primary;
        }

    }

    .navbar-toggle {
        border: none;
        &:focus, &:hover {
            border: none;
            background-color: transparent;
        }

        .fa-bars { 
            //background-color: $theme-primary;
            &:hover, &:focus {
                color: $theme-primary;
            }
        }
        
    }

    .navbar-nav {
        li a {
            color: $text-color;

            &:hover, &:focus {
                color: $theme-primary;
            }
        }

        .active {
            a, a:hover, a:focus {
                background-color: $bg-color;
                color: $text-color;
            }
        } 

    }

    .navbar-collapse {
        text-align: center;
        
            border: none;   
        
    }
}

/* MISC */
.search {
    //margin-top: 150px;
    margin-bottom: 25px;
    input {
        
        &:focus {
            outline: none;
            
        }
    }
    
}

//Posts panels
.panel-default {
    border: none;
    .panel-heading {
        background-color: $bg-color;
        color: $text-color;
    }
    .panel-body {
        background-color: $bg-color;

        p {
            padding-bottom: 15px;
        }

        iframe { @include noselect; }
    }
}

.author {
    font-style: italic;
}

.load-more {
    @include noselect;
    text-align: center;
    padding-bottom: $gutter;

    :hover {
        color: $theme-primary;
    }

    span {
    cursor: pointer;    

    }
                                 
}

//login form
#login-container  {
    margin-top: 7%;
    
    #logo-login {
        margin-bottom: 10%;
        max-width: 200px;
    }
    
}

.submit {
    color: white;
    background-color: $btn-bg;
    border: none;
    float: right;

    &:hover {
        @extend .submit;
        background-color: $btn-bg-hover;
    }

    &:focus {
        @extend .submit;
        outline: none;
    }

    &:active {
        @extend .submit;
    }
}

.error {
    color: $error-txt;
}

//ADMIN side 
.admin-home {
    max-width: 960px;
}

.nav-admin {
    @include noselect;
    ul {
        width: 300px;
        margin: 0 auto;
        text-align: center;
    }
    li {
        display: inline-block;
        padding: 7px;
    }
    a:hover {
        color: $theme-primary;
        text-decoration: none;
    }
} 
    

//modal
.modal {
    color: black;

    textarea {
        resize: vertical;
    }
}