//phone: 400px
//phone-wide: 480px
//phablet: 560px
//tablet-small: 640px
//tablet: 768px
//tablet-wide: 1024px
// desktop: 1248px
// desktop-wide: 1440px
// px/16 = em

/*-----Prevents iPhone from resizing in landscape mode -----*/
html {-webkit-text-size-adjust: none; }

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
    font-size: 100%;
    font-family: $default_font_family;
    background-color: $bg-color;
    color: $text-color;
}

input {
    color: black;
}

/* clearfix */
.clearfix-row{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

/* HEADER */
header {

    h1, h2 {
        display: none;
    }

    .logo {
        font-family: $logo_font_family;
        // float: left;
    }

    .logo img {
        width: 150px;
    }
}

/* NAV */
.navbar-default {
    background-color: transparent;
    border-color: $bg-color;

    .navbar-toggle, .navbar-toggle:focus, .navbar-toggle:hover {
        @extend .navbar-default;

    }

    .navbar-nav {
        
        li a {
            color: white;

            &:hover, &:focus {
                color: $orange;
            }
        }

        .active {
            a, a:hover, a:focus {
                background-color: $bg-color;
                color: white;
            }
        } 

    }

    .navbar-collapse {
        text-align: center;
        
    }
}

/* MISC */
.search {
    margin-bottom: 25px;

    input {
        border-radius: 15px;
        &:focus {
            outline: none;
            
        }
    }

    
}

//Posts panels
.panel-default {
    border: none;
    .panel-heading {
        background-color: $bg-color;
        color: $text-color;
    }
    .panel-body {
        background-color: $bg-color;

        p {
            padding-bottom: 15px;
        }
    }
}

.author {
    font-style: italic;
}

//login form
#login-container  {
    margin-top: 7%;

    #logo-login {
        margin-bottom: 10%;
    }
    
}

.submit {
    color: white;
    background-color: $btn-bg;
    border: none;
    float: right;

    &:hover {
        @extend .submit;
        background-color: $btn-bg-hover;
    }

    &:focus {
        @extend .submit;
        outline: none;
    }

    &:active {
        @extend .submit;
    }
}

.error {
    color: $error-txt;
}