header {
    &:before {
        min-height: 450px;
    }

    .main-header {
        height: 450px;
        
        .logo {
    
            h1 {
                font-size: 90px;
            }

            h2 {
                font-size: 35px;
                display: block;
            }
        
        }
    }
}

.navbar-default .navbar-collapse {
    position: relative;
    
}

//.search { margin-top: 350px;}