/* ---- SCSS FOR COLORS ----- */
$brown: #a47027;
$orange: #C5120D;
$blue: #a8c6ef; 
$dkgrey: #343639;
$ltgrey: #B4BBC5;


$text-colour: $dkgrey;
$menu_text: $orange;
$menu_colour: $dkgrey;
$body_colour: #fff;
$link_colour: $brown;
$h1_colour: $brown;
$h2_colour: $orange;
$h3_colour: $blue;

/* ---- SCSS FOR FONT FAMILY ----- */
$logo_font_family: 'Bungee Inline', cursive;
$default_font_family: 'Harmattan', sans-serif;
$normal: 400;
$heavy: 700;

/* ---- SCSS GUTTER ----- */
$gutter: 2%;