/* ---- SCSS FOR COLORS ----- */
$brown: #a47027;
$orange: #C5120D;
$blue: #394585; 
$dkgrey: #333439;
$rlydkgrey: #404352;
$ltrgrey: #BBBED2;
$ltgrey: #777985;


$text-colour: $dkgrey;
$menu_text: $orange;
$menu_colour: $dkgrey;
$body_colour: $dkgrey;
$link_colour: $brown;
$h1_colour: $brown;
$h2_colour: $orange;
$h3_colour: $blue;

/* ---- SCSS FOR FONT FAMILY ----- */
$logo_font_family: 'Bungee Inline', cursive;
$default_font_family: 'Harmattan', sans-serif;
$normal: 400;
$heavy: 700;

/* ---- SCSS GUTTER ----- */
$gutter: 2%;