/* ---- SCSS FOR COLORS ----- */
$brown: #a47027;
$red: #FC1300;
$ltorange: #ED4E0C;
$orange: #E82C0C;
$blue: #394585; 
$dkgrey: #333439;
$rlydkgrey: #404352;
$ltrgrey: #BBBED2;
$ltgrey: #777985;


$text-color: $ltrgrey;
$menu_text: $orange;
$link-hover: $red;
$menu-active: $rlydkgrey;

$link_colour: $brown;
$h1_colour: $brown;
$h2_colour: $orange;
$h3_colour: $blue;

$bg-color: $dkgrey;
$error-txt: $red;
$btn-bg: $ltorange;
$btn-bg-hover: $orange;

/* ---- SCSS FOR FONT FAMILY ----- */
$logo_font_family: 'Lato', sans-serif;
$default_font_family: 'Harmattan', sans-serif;
$normal: 400;
$heavy: 900;

/* ---- SCSS GUTTER ----- */
$gutter: 2%;