/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* ---- SCSS FOR COLORS ----- */
/* ---- SCSS FOR FONT FAMILY ----- */
/* ---- SCSS GUTTER ----- */
/*-----Prevents iPhone from resizing in landscape mode -----*/
html {
  -webkit-text-size-adjust: none; }

/*----------- apply a natural box layout model to all elements --------------*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-size: 100%;
  font-family: "Harmattan", sans-serif;
  background-color: #333439;
  color: #BBBED2; }

input {
  color: black; }

/* clearfix */
.clearfix-row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

/* HEADER */
header h1, header h2 {
  display: none; }
header .logo {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  z-index: 5; }
header .main-header {
  margin-top: 0; }
  header .main-header img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0.4; }

/* NAV */
.navbar-default, .navbar-default .navbar-toggle, .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: transparent;
  border-color: #333439;
  margin-bottom: 0;
  z-index: 2; }
  .navbar-default .navbar-brand, .navbar-default .navbar-toggle:focus .navbar-brand, .navbar-default .navbar-toggle:hover .navbar-brand {
    color: white; }
    .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
      color: #E82C0C; }
  .navbar-default .navbar-nav li a, .navbar-default .navbar-toggle:focus .navbar-nav li a, .navbar-default .navbar-toggle:hover .navbar-nav li a {
    color: white; }
    .navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li a:focus {
      color: #E82C0C; }
  .navbar-default .navbar-nav .active a, .navbar-default .navbar-nav .active a:hover, .navbar-default .navbar-nav .active a:focus {
    background-color: #333439;
    color: white; }
  .navbar-default .navbar-collapse, .navbar-default .navbar-toggle:focus .navbar-collapse, .navbar-default .navbar-toggle:hover .navbar-collapse {
    text-align: center; }
    .navbar-default .navbar-collapse.in {
      border-bottom: 1px solid white; }

/* MISC */
.search {
  margin-bottom: 25px; }
  .search input {
    border-radius: 15px; }
    .search input:focus {
      outline: none; }

.panel-default {
  border: none; }
  .panel-default .panel-heading {
    background-color: #333439;
    color: #BBBED2; }
  .panel-default .panel-body {
    background-color: #333439; }
    .panel-default .panel-body p {
      padding-bottom: 15px; }

.author {
  font-style: italic; }

#login-container {
  margin-top: 7%; }
  #login-container #logo-login {
    margin-bottom: 10%;
    max-width: 200px; }

.submit, .submit:hover, .submit:focus, .submit:active {
  color: white;
  background-color: #ED4E0C;
  border: none;
  float: right; }
  .submit:hover {
    background-color: #E82C0C; }
  .submit:focus {
    outline: none; }

.error {
  color: #FC1300; }

.admin-home {
  max-width: 960px; }

.nav-admin ul {
  width: 300px;
  margin: 0 auto;
  text-align: center; }
.nav-admin li {
  display: inline-block;
  padding: 7px; }
.nav-admin a:hover {
  color: #E82C0C;
  text-decoration: none; }

.modal {
  color: black; }
  .modal textarea {
    resize: vertical; }

@media only screen and (min-width: 45em) {
  .main-header {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .main-header .logo {
      padding: 30px; }
      .main-header .logo h1, .main-header .logo h2 {
        display: table;
        padding: 10px;
        text-align: center;
        color: black; }
      .main-header .logo h1 {
        margin: 0 auto;
        font-size: 80px; }
      .main-header .logo h2 {
        font-size: 200%; } }
